.self_backgorund {
  --background: auto !important;
  background: linear-gradient(to right, #376dc4, #2bba9a) !important;
}
.para_self {
  padding-top: 144px;
  padding-left: 78px;
}


p.slef_para {
  color: #fff;
  font-size: 21px;
  padding: 0px 0px;
  text-align: center;
}
p.para1 {
  font-size: 21px;
  color: #fff;
  text-align: center;
}
.secnd_section {
  margin-top: 246px;
  margin-left: 33px;
}
.manual {
  --background: transparent;
  border: 1px solid #fff;
  border-radius: 40px;
  width: 72%;
  height: 15%;
}
img.searc {
  width: 24px;
  margin-right: 12px;
}
.header_self {
  display: none;
}
.btn2 {
  padding-top: 81px;
}
h5.wal-in {
  padding: 6px;
}
p.para2 {
  font-size: 23px;
  color: #fff;
  text-align: center;
}
.list_item {
  text-align: center;
}

li.list1 {
  color: #fff;
  font-size: 19px;
  list-style: none;
}
#basicExampleModal .modal-content {
  background: linear-gradient(to bottom, #ef212f 13%, #521fb8) !important;
}

img#exampleModalLabel {
  margin: 0 auto;
  display: block;
  width: 54px;
  margin-top: 27px;
}
.modal-header {
  border-bottom: none;
}

p.date {
  color: #fff;
  margin: 0 auto;
  display: table;
  padding-bottom: 17px;
  font-size: 29px;
}
#basicExampleModal button.btn_ok_btn {
  font-size: 24px;
  font-weight: 700;
  width: 12%;
  padding: 13px 0px 14px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ab4cde;
  background: #ab4cde;
  border-radius: 4px;
  color: #fff;
  padding: 19px 0px 19px 0px;
}
#basicExampleModal .check {
  width: 141px;
  margin: 0 auto;
  display: block;
}
#basicExampleModal3 button.btn_ok_btn {
  width: 11%;
  padding: 22px 0px 23px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ab4cde;
  background: #ab4cde;
  border-radius: 4px;
  color: #fff;
  font-size: 28px;
}
#basicExampleModal3 .check {
  width: 141px;
  margin: 0 auto;
  display: block;
}
#basicExampleModal3 .modal-content {
  background: linear-gradient(to bottom, #ef212f 13%, #521fb8) !important;
}
div#myModal {
  overflow: hidden;
}
.modal-content {
  /* background-color: #fff; */
  overflow: hidden;
  height: 90vh;
  background-color: #000000d9;
}

.check {
  width: 100px;
  margin: 0 auto;
  display: block;
  padding: 57px 0px;
}
.modal-body1 {
  text-align: center;
  color: #fff;
}
.modal-body {
  position: relative;
  padding: 15px 0px 70px 0px;
  text-align: center;
  font-size: 53px;
  color: #fff;
}
.btn-ok {
  padding-bottom: 100px;
}
button.btn_ok_btn {
  width: 13%;
  padding: 24px 0px 23px;

  margin: 0 auto;
  display: block;
  border: 1px solid #3fcaa8;
  background: #47d9d2;
  color: #fff;
}
p.large_font_para {
  text-align: center;
  font-size: 51px;
  color: #fff;
}
.modal-lg {
  width: 90%;
  margin: 3.5% 5%;
}
.modal-content .para1 {
  font-size: 50px !important;
}
.modal-content p.para2 {
  font-size: 45px !important;
}
p.para3 {
  font-size: 45px;
}
.check {
  width: 180px;
  margin: 0 auto;
  display: block;
  padding: 92px 0px;
}
p.para5 {
  font-size: 50px;
}
p.self_txt {
  font-size: 57px;
}
img.screen_lock {
  width: 25px;
  position: absolute;
  bottom: 7px;
  left: 7px;
}
.para_self {
  position: relative;
}
.modal-bodyblck {
  text-align: center;
  padding-bottom: 40px;
}
.modal-bodyblck .row {
  display: inline-flex;
  width: 24%;
  border-bottom: 1px solid #fff;
}

.email4 {
  color: #fff;
}
img.mail4 {
  width: 25px;
  height: 24px;
  vertical-align: bottom;
  margin-top: 6px;
}
.btn-ok4 {
  text-align: center;
  margin-top: 30px;

}
// .btn-ok4 button.btn_ok_btn {
//   background: linear-gradient(to right, #2bba9a, #376dc4);
// }

.btn_cnfrm {
  background: linear-gradient(to right, #2bba9a, #376dc4);

  padding: 17px 30px;
  font-size: 25px;
  color: #fff;
  border-radius: 7px;
}
button.btn_cnfrm1 {
  background: linear-gradient(to right, #f0212f, #6520a7);

  padding: 17px 47px;
  font-size: 25px;
  color: #fff;
  border-radius: 7px;
}
.check_btn {
  display: inline-block;
  margin: 0px 50px;
}

