
ion-toolbar.in-toolbar.md.hydrated .top-header {
    background-image: url('/assets/images/Mask_Group_2.png');   
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 72px;
    text-align: center;
    padding: 38px 15px 73px 15px;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.top-header h3 {
    font-weight: normal;
    font-size: 23px;
}
img.back-arrow {
    float: left;
}
img.header_icon {
    width: 47%;
}
.top-header h6 {
    font-size: 12px;
}
p.artioport {
    margin: 0px;

    font-size: 10px;
}
p.web {
    margin-top: 0px;

    font-size: 10px;
    
}

p.last_heading {
    font-size: 11px;
}