<ion-header>
  <ion-toolbar>
<div class="top-header">
  <img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png" [routerLink]="['/guest_list']">
      <ion-grid>
        <ion-row>
          <ion-col col-4 [routerLink]="['/']">
            <img class="header_icon" src="../../assets/icon/Symbol 141 – 23.png"  (click)="showAlert()">
          </ion-col>
        
          <div class="pop_up_img"></div>

          <ion-col col-4  [routerLink]="['/new-participant']">
            <img class="header_icon" src="../../assets/icon/Profile.png">

          </ion-col>
    
          <ion-col col-4  [routerLink]="['/']" >
            <img class="header_icon" src="../../assets/icon/Group 1938.png">

          </ion-col>
        </ion-row>
      </ion-grid>
      <h3>Nicholas Yeo Ming Han </h3>
      <p class="artioport">Actioport Pte. Ltd.</p>
      <p class="web">Web Developer</p>
     <p class="last_heading">not Checked-in Yet</p>

    </div>
    <div class="">
      </div>
  </ion-toolbar>
</ion-header>
