img.user_icn {
    width: 15px;
    margin-right: 22px;
    margin: 0px 13px -4px 0px;
}
.label_register{
    vertical-align: sub;
    font-size: 9px;

}
img.edit_icn {
    float: right;
    width: 12%;
    margin-top: -29px;
}
ion-input.inpt_txt.sc-ion-input-md-h.sc-ion-input-md-s.md.has-value.hydrated {
    font-size: 11px;
    
}
ion-col.fn.md.hydrated {
    margin-right: 21px;
    border-bottom: 1px solid #9E9E9E;

}
img.edit_icn2 {
    float: right;
    width: 6%;
    margin-top: -29px;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated[_ngcontent-chi-c1] {
    vertical-align: sub;
    color: #0000009c;
}

.register_tool {
    background-image: url('/assets/images/Mask_Group_2.png');   
   
    text-align: center;
    padding: 33px 15px 19px 15px;
    color: #fff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
        --background: auto;

}
.top-header h3 {
    font-weight: normal;
    font-size: 23px;
}
img.back-arrow {
    float: left;
}
img.header_icon {
    width: 47%;
}
.top-header h6 {
    font-size: 12px;
}
p.artioport {
    margin: 0px;

    font-size: 10px;
}
p.web {
    margin-top: 0px;

    font-size: 10px;
    
}

p.last_heading {
    font-size: 11px;
}
 .new_participent_background {
    --background: auto;
    
    background: #f2fbfd;
    }
    .Save_btn {
    --background: auto;
    background: linear-gradient(to right, #23af9e, #3572c1);
    border-radius: 25px;
    border-radius: 25px;
    padding: 0px 3px 0px 0px;
    width: 73%;
        font-size: 13px;

}

.Save_btn1{
    --background: auto;
    background: linear-gradient(to right, #23af9e, #3572c1);
    border-radius: 25px;
   padding: 0px 0px 0px 0px;
       width: 73%;
           font-size: 13px;

    height: 33px;
}
.modal-content_new {
    background: linear-gradient(to bottom, #5ae64e, #2cbdca);
    color: #fff;
    text-align: center;
}
.check_new {
    width: 113px;
        width: 113px;
    margin-top: 67px;
    margin-bottom: 47px;
}
.btn_new {
    width: 31%;
    padding: 9px 0px 9px 0px;
    margin-bottom: 4px;
    background: #24d9d2;
    border: 1px solid #06b9b2;
}   