<ion-content class="new_participent_background">
  <ion-header>
    <ion-toolbar>
      <div class="top-header">
        <img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png" [routerLink]="['/setting']" >

        <h3>Check-in Message Setting</h3>
        <img class="print_img" src="../../assets/icon/print.png">

      </div>
      <div class="">
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card_box_msg">

    <div class="paragraph_msg">
      <p class="heading">Information shown on the Check-in Success Popup </p>
      <p class="sub_heading1">Tap pencil icon if you want to edit the label</p>
      <p class="sub_heading2">Please return on if you want to show the information on the checkk-in Success Popup</p>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="meesage_field">
          <img class="user_icn" src="../../assets/icon/Symbol 6 – 2.png">
          First Name
          <img class="edit_icn" src="../../assets/icon/Edit.png">
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="meesage_field">
          <img class="user_icn" src="../../assets/icon/ic_business_24px.png">
          Organisation
          <img class="edit_icn" src="../../assets/icon/Edit.png">
          <ion-toggle class="toogle_btn">
          </ion-toggle>

          <ion-input class="inpt_txt" value="">
          </ion-input>
        </ion-label>
      </div>
    </div>
    <div class="message_form">
      <div class="left_div">
        <ion-label class="meesage_field">
          <img class="user_icn" src="../../assets/icon/ic_assignment_ind_24px.png">
          Designtion
          <img class="edit_icn" src="../../assets/icon/Edit.png">
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>
        </ion-label>
      </div>
    </div>
    <div class="message_form">
      <div class="left_div">
        <ion-label class="meesage_field">
          <img class="user_icn" src="../../assets/icon/Symbol 49 – 1.png">
          Email
          <img class="edit_icn" src="../../assets/icon/Edit.png">
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="meesage_field">
          <img class="user_icn" src="../../assets/icon/Phone.png">
          Mobile
          <img class="edit_icn" src="../../assets/icon/Edit.png">
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="meesage_field">
          <img class="user_icn" src="../../assets/icon/qr-code_Gray.png">
          ID
          <img class="edit_icn" src="../../assets/icon/Edit.png">
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="meesage_field">
          <img class="user_icn" src="../../assets/icon/ic_assignment_24px.png">
          NRIC/FIN
          <img class="edit_icn" src="../../assets/icon/Edit.png">
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="meesage_field">
          <img class="user_icn" src="../../assets/icon/ic_assignment_24px.png">
          Remark1
          <img class="edit_icn" src="../../assets/icon/Edit.png">
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>


    <div class="message_form">
      <div class="left_div">
        <ion-label class="meesage_field">
          <img class="user_icn" src="../../assets/icon/ic_assignment_24px.png">
          Table Number
          <img class="edit_icn" src="../../assets/icon/Edit.png">
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="meesage_field">
          <img class="user_icn" src="../../assets/icon/ic_assignment_24px.png">
          Reamark3
          <img class="edit_icn" src="../../assets/icon/Edit.png">
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>
    <div class="message_form">
    <label class="item item-input item-select item-light">
      <div class="input-label">
        <ion-label class="meesage_field">Duration of Check-in Popup</ion-label>
        <select class="message_select "   >
          <option>Option 1</option>
          <option selected>3 seconds </option>
          <option>Option 3</option>
        </select>
      </div>
    </label>
    </div>
    
  </ion-card>

</ion-content>
<app-footer></app-footer>
