.top-header h3 {
  font-weight: normal;
  font-size: 15PX;
  margin: 0 auto;
  display: inline-block;
}
img.back-arrow {
  float: left;
}
.in-toolbar {
  --background: auto;
  background-image: url("../../assets/images/MaskGroup\ _1.png");
  border-bottom-left-radius: 54px;
  border-bottom-right-radius: 54px;
  text-align: center;
  padding: 20px 15px 145px 15px;
  color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
p.heading {
  color: #000000b0;
  font-size: 13px;
}
img.print_img {
  width: 24px;
  margin-left: 28px;
  vertical-align: sub;
}

.card_box_msg {
  position: absolute;
  top: 88px;
  right: 0;
  left: 0px;
  z-index: 99;
  margin: 23px !important;
  border-radius: 12px;
  box-shadow: 0px 21px 23px 4px #d8e1e2;
}
.badge_box {
  padding: 0px 16px;
  width: 65%;
}
.badege_txt {
  float: left;
  padding-top: 12px;
  font-size: 12px;
}
.message_form {
  margin: 5px 0px;
  text-align: right;
      padding-right: 4px;

}
.basic_setting {
  --background: auto;
  background: #eaf3f5;
}
.card_box_msg1 {
  margin: 120px 24px;
  border-radius: 12px;
  box-shadow: 0px 21px 23px 4px #d8e1e2;
}
.badge_box1 {
  padding: 10px 16px;
  width: 65%;
}
