<ion-content class="basic_setting">
  <ion-header>
    <ion-toolbar>
      <div class="top-header">
        <img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png" [routerLink]="['/self-check-setting']">

        <h3>Basic Setting</h3>
        <img class="print_img" src="../../assets/icon/Path 104.png">
      </div>

      <div class="">
      </div>

    </ion-toolbar>
  </ion-header>

  <ion-card class="card_box_msg">
    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Self Check-in Setting </ion-label>
      </div>
    </div>

    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">QR code Check-in</ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>

    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Manual Search Check-in</ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>

    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Walk-in Registration</ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>

    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Badge Printing</ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>
  </ion-card>

  <ion-card class="card_box_msg1">
    <div class="badge_box_main">
      <div class="badge_box1">
        <ion-label class="badege_txt1">Manual Search Field </ion-label>
      </div>
    </div>

    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Name</ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>

    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Organisation</ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>

    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Email </ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>

    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Mobile</ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>
    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">ID</ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>
    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Remarks1</ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>
    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Remarks2</ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>
    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Remarks3  </ion-label>
      </div>
      <div class="message_form">
        <div class="input-label">
          <ion-toggle></ion-toggle>
        </div>
      </div>
    </div>

  </ion-card>
</ion-content>
<app-footer></app-footer>