  <ion-content class="new_participent_background">
  <ion-header>
    <ion-toolbar>
      <div class="top-header">
        <img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png" >

        <h3>Settings </h3>

      </div>
      <div class="">
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="check_in_box">
    <div class="card2">
      <div class="">
    <ion-card class="Setting_box" [routerLink]="['/message-setting']" >
      <ion-row class="box1">
        <ion-col >
          <img  class="seeting_img" src="../../assets/icon/Symbol 141 – 32.png">

          <ion-label class="waalk_txt">Check-in Message Setting</ion-label>
        </ion-col>

      </ion-row>
    </ion-card>
    </div>
    </div>
  
  <div class="card2">
    <div class="">
      <ion-card class="Setting_box" [routerLink]="['/badge-setting1']">
        <ion-row  class="box1">
          <ion-col >
            <img class="bedge_img" src="../../assets/icon/ic_print_24px.png">
  
            <ion-label class="waalk_txt">Badge Setting</ion-label>
          </ion-col>
  
        </ion-row>
      </ion-card>
    </div>
  </div>

    <div class="card2">
      <ion-card class="Setting_box" [routerLink]="['/walk-in-registration']">
        <ion-row  class="box1">
          <ion-col >
            <img  class="walk_in_img" src="../../assets/icon/ic_directions_walk_24px.png">
  
            <ion-label class="waalk_txt">Walk-in Registration Setting</ion-label>
          </ion-col>
  
        </ion-row>
      </ion-card>
    </div>


    <div class="card2">
      <ion-card  class="Setting_box" [routerLink]="['/self-check-setting']">
        <ion-row  class="box1">
          <ion-col >
            <img class="self_img" src="../../assets/icon/ic_touch_app_24px.png">
  
            <ion-label class="waalk_txt">Self Check-in Mode Setting</ion-label>
          </ion-col>
  
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>