<ion-content>
  <div class="main_bg">
    <ion-header>
      <ion-toolbar>
        <div class="top-header">
          <ion-row>
            <ion-col size="2"><img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png"></ion-col>
          </ion-row>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-row class="heading_sec">
      <h2>Select your name </h2>
    </ion-row>
    <div class="self_main_sec">
      <ion-row>
        <ion-col col-6>
          <ion-card>
            <div class="check_section">
              <h3>Allan Bong</h3>
              <p>Singahub Pte. Ltd. </p>
              <ion-checkbox class="check_section_right"></ion-checkbox>
              <p>General Manager</p>
            </div>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card>
            <div class="check_section">
              <h3>Allan Bong</h3>
              <p>Singahub Pte. Ltd. </p>
              <ion-checkbox class="check_section_right"></ion-checkbox>
              <p>General Manager</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card>
            <div class="check_section">
              <h3>Allan Bong</h3>
              <p>Singahub Pte. Ltd. </p>
              <ion-checkbox class="check_section_right"></ion-checkbox>
              <p>General Manager</p>
            </div>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card>
            <div class="check_section">
              <h3>Allan Bong</h3>
              <p>Singahub Pte. Ltd. </p>
              <ion-checkbox class="check_section_right"></ion-checkbox>
              <p>General Manager</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col col-6>

          <ion-card>
            <button type="button" class="popup_btnkishok4" data-toggle="modal" data-target="#myModal">

              <div class="check_section">
                <h3>Allan Bong</h3>
                <p>Singahub Pte. Ltd. </p>
                <ion-checkbox class="check_section_right"></ion-checkbox>
                <p>General Manager</p>
              </div>
            </button>

          </ion-card>

        </ion-col>
        <ion-col col-6></ion-col>
      </ion-row>
    </div>
  </div>

  <!-- The Modal -->
  <div [hidden]=checkinpopup class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <img class="check" src="../../assets/icon/1Path1230.png">

        <!-- Modal body -->
        <div class="modal-body_kishok4">
          Hi, before checking you in, we would like to confirm that your information are as follows.
          If so, please click on the 'Yes' button.

        </div>

        <div class="modal-body_kishok4">
          <p class="para1">Allan Lim</p>
          <p class="para2">ZZZ Technology Inc. </p>
          <p class="para3">coo </p>


        </div>

        <div class="btn-okkisshok4">
          <!-- Button trigger modal -->
          <div class="check_btnkisok4">
            <button type="button" class="btn_cnfrm1kisok4" data-toggle="modal"
              data-target="#basicExampleModal4">
              <img  class="no" src="../../assets/icon/kisok4.png">
              No
             </button>
          </div>
          <div class="check_btnkisok4">
            <button type="button" class="btn_cnfrmkisok4" data-toggle="modal"
              data-target="#basicExampleModal4">

              Yes
              <img  class="no" src="../../assets/icon/kisok4 – 9.png">

            </button>
          </div>
          <!-- Modal -->

        </div>


      </div>
    </div>
  </div>
</ion-content>