<ion-content class="new_participent_background ">
  <ion-header>
    <ion-toolbar>
      <div class="top-header">
        <img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png" [routerLink]="['/self-check-setting']">

        <h3>Design Setting</h3>
        <img class="print_img" src="../../assets/icon/Path 104.png">
      </div>

      <div class="">
      </div>

    </ion-toolbar>
  </ion-header>

  <ion-card class="card_box_msg">
    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Background Image</ion-label>
      </div>
    </div>

    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt1">Upload Image here</ion-label>
      </div>
      <img class="img_upload" src="../../assets/icon/Group 1943.png">
    </div>
  </ion-card>


  <ion-card class="card_box_msg1">
    <div class="badge_box_main">
      <div class="badge_box">
        <ion-label class="badege_txt">Color</ion-label>
      </div>
    </div>

    <div class="badge_box_main">
        <ion-label class="badege_txt1">Background Color</ion-label>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <img class="background" src="../../assets/icon/Path_1243.png">
        </ion-col>

        <ion-col col-4>
          <ion-input class="input_color" type="text" value="#376DC4"></ion-input>

        </ion-col>
        <ion-col col-4>
          <ion-input class="input_color" type="text" value="#13BA9A"></ion-input>

        </ion-col>

      </ion-row>
    </ion-grid>
      <ion-label class="badege_txt1">Font Color</ion-label>
      <ion-row>
        <ion-col col-4>
          <img class="background" src="../../assets/icon/Path_1244.png">
        </ion-col>

        <ion-col col-4>
          <ion-input class="input_color" type="text" value="#FFFFFF"></ion-input>

        </ion-col>
        <ion-col col-4>

        </ion-col>

      </ion-row>
      <div class="badge_box">
        <ion-label class="badege_txt1">Input Field Border Color</ion-label>
      </div>

      <ion-row>
        <ion-col col-4>
          <img class="background" src="../../assets/icon/Path_1244.png">
        </ion-col>

        <ion-col col-4>
          <ion-input class="input_color" type="text" value="#FFFFFF"></ion-input>

        </ion-col>
        <ion-col col-4>

        </ion-col>

      </ion-row>
        <ion-label class="badege_txt1">Button Border Color </ion-label>

      <ion-row>
        <ion-col col-4>
          <img class="background" src="../../assets/icon/Path_1244.png">
        </ion-col>

        <ion-col col-4>
          <ion-input class="input_color" type="text" value="#FFFFFF"></ion-input>

        </ion-col>
        <ion-col col-4>

        </ion-col>

      </ion-row>

        <ion-label class="badege_txt1"> Button Background Color</ion-label>
      <ion-row>
        <ion-col col-4>
          <img class="background" src="../../assets/icon/transparant.png">
        </ion-col>

        <ion-col col-4 class="input_color">

        </ion-col>
        <ion-col col-4 class="input_color">

        </ion-col>

      </ion-row>

      <ion-button class="print_btn" shape="round"[routerLink]="['/printer-option']"  >Preview</ion-button>  

  </ion-card>