<ion-content class="dashboard">
  <img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png" [routerLink]="['/login']">

  <div class="top-header">
    <ion-label class="select_label">Select your event</ion-label>
    <div class="header-box">
      <ion-input  class="input_searchbar" placeholder="Search">

        <img class="searc_img" src="../../assets/icon/gey.png">

      </ion-input>
      <ion-label class="5_events">5/5 events</ion-label>
    </div>
  </div>
  <div class="imge_box">
    <ion-card class="box_img" [routerLink]="['/dashboard1']" >
      <ion-card-content class="image_dash">
        <h3 class="card-title">Actioport Cocktail Reception</h3>
        <div class="status-bar">
          <span class="white-box"></span>
          <span class="grediant-box">43%</span>
        </div>
        <p>313<span>/728</span></p>
      </ion-card-content>
    </ion-card>
    <ion-card class="box_img">
      <ion-card-content class="image_dash">
        <h3 class="card-title">Ez-RSVP Technology Conference</h3>
        <div class="status-bar">
          <span class="white-box"></span>
          <span class="grediant-box hundred">100%</span>
        </div>
        <p>1531<span>/1531</span></p>
      </ion-card-content>
    </ion-card>
    <ion-card class="box_img">
      <ion-card-content class="image_dash">
        <h3 class="card-title">Singapore Office Opening Ceremony</h3>
        <div class="status-bar">
          <span class="white-box"></span>
          <span class="grediant-box zero">0%</span>
        </div>
        <p>0<span>/205</span></p>
      </ion-card-content>
    </ion-card>
    <ion-card class="box_img">
      <ion-card-content class="image_dash">
        <h3 class="card-title">Long Service Awards</h3>
        <div class="status-bar">
          <span class="white-box"></span>
          <span class="grediant-box five">5%</span>
        </div>
        <p>12<span>/240</span></p>
      </ion-card-content>
    </ion-card>
    <ion-card class="box_img">
      <ion-card-content class="image_dash">
        <h3 class="card-title">Actioport Annual General Meeting</h3>
        <div class="status-bar">
          <span class="white-box"></span>
          <span class="grediant-box">43%</span>
        </div>
        <p>313<span>/728</span></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>