<ion-content class="new_participent_background">
  <ion-header>
    <ion-toolbar>
      <div class="top-header">
        <img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png" [routerLink]="['/setting']" >

        <h3> Walk-in Registration Setting</h3>
        <img class="print_img" src="../../assets/icon/ic_directions_wal.png">

      </div>
      <div class="">
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card_box_msg">

    <div class="message_form">
      <div class="left_div">
        <ion-label class="regis3">
          <img class="user_icn11" src="../../assets/icon/Group 1940.png">
          Allow guest register as walk-in
          <ion-toggle class="toogle_btn">
          </ion-toggle>

          <ion-input class="inpt_txt" value="">
          </ion-input>
        </ion-label>
      </div>
    </div>
    <div class="paragraph_msg">
      <p class="heading">Please turn on if you want to show the information on the Walk-in Registration(Add New Participant) </p>
    
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="heading">
          <img class="user_icn" src="../../assets/icon/Symbol 6 – 2.png">
          First Name
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="heading">
          <img class="user_icn" src="../../assets/icon/ic_business_24px.png">
          Organisation
          <ion-toggle class="toogle_btn">
          </ion-toggle>

          <ion-input class="inpt_txt" value="">
          </ion-input>
        </ion-label>
      </div>
    </div>
    <div class="message_form">
      <div class="left_div">
        <ion-label class="heading">
          <img class="user_icn" src="../../assets/icon/ic_assignment_ind_24px.png">
          Designtion
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>
        </ion-label>
      </div>
    </div>
    <div class="message_form">
      <div class="left_div">
        <ion-label class="heading">
          <img class="user_icn" src="../../assets/icon/Symbol 49 – 1.png">
          Email
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="heading">
          <img class="user_icn" src="../../assets/icon/Phone.png">
          Mobile
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="heading">
          <img class="user_icn" src="../../assets/icon/qr-code_Gray.png">
          ID
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="heading">
          <img class="user_icn" src="../../assets/icon/ic_assignment_24px.png">
          NRIC/FIN
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="heading">
          <img class="user_icn" src="../../assets/icon/ic_assignment_24px.png">
          Remark1
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>


    <div class="message_form">
      <div class="left_div">
        <ion-label class="heading">
          <img class="user_icn" src="../../assets/icon/ic_assignment_24px.png">
          Table Number
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    <div class="message_form">
      <div class="left_div">
        <ion-label class="heading">
          <img class="user_icn" src="../../assets/icon/ic_assignment_24px.png">
          Reamark3
          <ion-toggle class="toogle_btn"></ion-toggle>
          <ion-input class="inpt_txt" value="">
          </ion-input>

        </ion-label>
      </div>
    </div>

    
  </ion-card>

</ion-content>
<app-footer></app-footer>
