<ion-content>
  <ion-header>
    <ion-toolbar>
      <div class="top-header">
        <img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png" [routerLink]="['/select-events']">

        <h3>Actioport Cocktail Reception</h3>
        <h6 class="artioport">Summary</h6>
        <p class="date">as of 22:15 on 01/02/2020</p>
      </div>
      <div class="">
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="dashboard1">
    <ion-card>
      <ion-grid class="checkin">
        <ion-row>
          <div class="loader_div">
            <ion-col col-4 class="load">

              <img class="loader" src="../../assets/icon/Group 1885.png">
            </ion-col>
          </div>
          <div class="right_load">
            <ion-col class="mainbox">

   
              <div class="number_box">
                <img src="../../assets/icon/Symbol 148 – 7.png">

                <ion-label class="check-iin">Check-in</ion-label>

              <ion-label class="box1_txt">546</ion-label>
            </div>

              <div class="number_box two_colm">
                <img src="../../assets/icon/ic_group_24px.png">
                <ion-label class="check-iin">Total Number </ion-label>
              </div>
              <ion-label class="box1_txt1">728</ion-label>

            </ion-col>
          </div>



        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
  <div class="card2">
    <ion-card class="box2grid">
      <ion-grid class="box2">
        <ion-row>
          <ion-col col-4>
            <img class="walk-img" src="../../assets/icon/ic_directions_walk_24px.png">
            <ion-label class="waalk_txt">Walk-in</ion-label>
          </ion-col>

          <ion-col col-4>
            <ion-label class="box1_txt2">84</ion-label>



          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <div class="card3">
    <ion-card class="box2grid">
      <ion-grid class="box2">
        <ion-row>
          <ion-col col-6>
            <img src="../../assets/icon/ic_help_24px.png">

            <ion-label class="waalk_txt">Not Checked-in</ion-label>
          </ion-col>


          <ion-label class="box1_txt2">182</ion-label>

        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <div class="break_card">
    <ion-card class="box2grid_brkdwn">
      <ion-grid class="box2">
        <p class="breakdown">Breakdown by hour</p>

        <ion-row>
          <ion-col col-6>
            <img class="rectangle" src="../../assets/icon/Rectangle 806.png">
            <h6 class="dash1_date">31/01/2020</h6>


          </ion-col>

          <ion-col col-6>
            <img class="rectangle" src="../../assets/icon/Rectangle 805.png">
            <h6 class="dash1_date">31/01/2020</h6>


          </ion-col>

        </ion-row>
      </ion-grid>

      <img class="graph_img" src="../../assets/icon/graph.png">
      <!--  <ion-grid>
        <ion-row class="graph_num2">
          <ion-col col-2.5 class="graph_value">
            <h6 class="graph_dynamic1">18:00</h6>
          </ion-col>

          <ion-col col-2.5 class="graph_value">
            <h6 class="graph_dynamic">19:00</h6>
          </ion-col>

          <ion-col col-2.5 class="graph_value">
            <h6 class="graph_dynamic2">20:00</h6>
          </ion-col>

          <ion-col col-2.5 class="graph_value">
            <h6 class="graph_dynamic3">21:00</h6>
          </ion-col>

          <ion-col col-2.5 class="graph_value">
            <h6 class="graph_dynamic4">22:00</h6>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>
