<ion-content>
  <ion-header>
    <ion-toolbar>
      <div class="top-header">
        <ion-row>
          <ion-col size="2"><img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png"
              [routerLink]="['guest_list']"></ion-col>
          <ion-col size="8">
            <h3>Message Customisation</h3>
          </ion-col>
          <ion-col size="2"><img class="print_img" src="../../assets/icon/ic_settings_24px.png">
          </ion-col>
        </ion-row>
      </div>
      <div class="">
      </div>
    </ion-toolbar>
  </ion-header>
  </ion-content>