<ion-content>
  <ion-header>
    <ion-toolbar>
      <div class="top-header">
        <ion-row>
          <ion-col size="2"><img class="back-arrow" src="../../assets/images/Symbol 135 - 3.png"
              [routerLink]="['guest_list']"></ion-col>
          <ion-col size="8">
            <h3>Customisation of answer of remarks field</h3>
          </ion-col>
          <ion-col size="2"><img class="print_img" src="../../assets/icon/ic_settings_24px.png">
          </ion-col>
        </ion-row>
      </div>
      <div class="">
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="check_in_box">
    <div class="card2">
      <div class="">
        <ion-card class="card_section1">
          <ion-row class="box1">
            <ion-col size="12">
              <div class="remark_section1">
                <p>Remark 1</p>
              </div>
              <ion-label class="label_name">
                Label Name
              </ion-label>
              <div class="input_first_section">
                <div class="edit_icon">
                  <ion-input class="inpt_txt" value="Remark 1">
                  </ion-input>
                  <img class="edit_icn" src="../../assets/icon/Edit.png">
                </div>
                <div class="input_type">
                  <ion-label class="common_input">Input Type </ion-label>
                  <select class="message_select ">
                    <option>Text</option>
                  </select>
                </div>
              </div>

            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
    <div class="card2">
      <div class="">
        <ion-card class="card_section">
          <ion-row class="box1">
            <ion-col size="12">
              <div class="remark_section1">
                <p>Remark 2</p>
              </div>
              <ion-label class="label_name">
                Label Name
              </ion-label>
              <div class="input_first_section">
                <div class="edit_icon">
                  <ion-input class="inpt_txt" value="Table Number">
                  </ion-input>
                  <img class="edit_icn" src="../../assets/icon/Edit.png">
                </div>
                <ion-label class="common_input">Input Type </ion-label>
                <select class="message_select ">
                  <option>Dropdown</option>
                </select>
                <div class="input_third_section">
                  <ion-label>Edit options</ion-label>
                  <div class="edit_icon">
                    <ion-input class="edit_option" value="A"></ion-input>
                    <img class="edit_option_icn" src="../../assets/icon/Edit.png">
                  </div>
                  <div class="edit_icon">
                    <ion-input class="edit_option" value="B"></ion-input>
                    <img class="edit_option_icn" src="../../assets/icon/Edit.png">
                  </div>
                  <div class="edit_icon">
                    <ion-input class="edit_option" value="C"></ion-input>
                    <img class="edit_option_icn" src="../../assets/icon/Edit.png">
                  </div>
                  <div class="btn_sec">
                  <p class="walk_btn">
                   Add more options
                  </p>
                </div>
                </div>
              </div>

            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
    <div class="card2">
      <div class="">
        <ion-card class="card_section">
          <ion-row class="box1">
            <ion-col size="12">
              <div class="remark_section">
                <p>Remark 3</p>
              </div>
              <ion-label class="label_name">
                Label Name
              </ion-label>
              <div class="input_first_section">
                <div class="edit_icon">
                  <ion-input class="inpt_txt" value="Remark3">
                  </ion-input>
                  <img class="edit_icn" src="../../assets/icon/Edit.png">
                </div>
                <ion-label class="common_input">Input Type </ion-label>
                <select class="message_select ">
                  <option>Checkbox</option>
                </select>
                <div class="input_third_section">
                  <ion-label>Edit options</ion-label>
                  <div class="edit_icon">
                    <ion-input class="edit_option" value="A"></ion-input>
                    <img class="edit_option_icn" src="../../assets/icon/Edit.png">
                  </div>
                  <div class="edit_icon">
                    <ion-input class="edit_option" value="B"></ion-input>
                    <img class="edit_option_icn" src="../../assets/icon/Edit.png">
                  </div>
                  <div class="edit_icon">
                    <ion-input class="edit_option" value="C"></ion-input>
                    <img class="edit_option_icn" src="../../assets/icon/Edit.png">
                  </div>
                  <div class="btn_sec">
                    <p class="walk_btn">
                     Add more options
                    </p>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>